/* Estilize a lista de candidatos */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    font-size: 28px;
}

.candidato {
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    position: relative;
}

.candidato:hover {
    transform: scale(1.05);
}

.candidato-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.candidato-info h2 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.candidato-info p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

/* Estilize a seção de informações do candidato */
#informacoes {
    text-align: center;
    display: none;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#informacoes h2 {
    font-size: 24px;
    color: #007BFF;
    margin: 0 0 20px 0;
}

#informacoes img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#informacoes h3 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

#informacoes p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

#votar-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#votar-button:hover {
    background-color: #005bab;
}
